@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

#body-hook[data-scroll-locked] {
  margin: 0 !important;
}

mark {
  background: inherit;
  color: #00916c;
}

code {
  font-family: var(--font-code) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

inline {
  font-size: 18px !important;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-content {
    width: min(100%, 950px);
  }
}

.katex-display {
  overflow-y: hidden;
  overflow-x: auto;

  scrollbar-width: thin;
  padding-top: 5px;
  padding-bottom: 5px;
}
