@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-width: 1000px;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
