/* css-disable */

.markdown h2 {
  @apply text-xl font-bold mt-4 mb-2 indent-0;
}

.markdown h3 {
  @apply text-lg font-bold mt-4 mb-2 indent-0;
}

.markdown p:not(:last-child) {
  @apply mb-4 hyphens-manual;
}

.markdown p {
  @apply text-justify;
}

.markdown pre {
  @apply mb-8 !important;
}

.markdown a {
  @apply font-bold hover:underline text-green-700;
}

.markdown ol {
  @apply mb-4 pl-6;

  list-style-type: decimal;
  list-style-position: outside;
}

.markdown ol > li::marker {
  @apply font-semibold;
}

.markdown ol > li::before {
  content: "";
  display: inline-block;
}

.markdown ol > li:not(:last-child) {
  @apply mb-3;
}

.markdown ol > li {
  padding-left: 0.5em;
}

.markdown ol > li > p:first-of-type {
  display: inline;
}

.markdown ul {
  @apply mb-4 pl-6;

  list-style-type: disc;
  list-style-position: outside;
}

.markdown ul > li:not(:last-child) {
  @apply mb-3;
}

.markdown ul > li > p {
  display: inline;
}

.markdown blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}

.markdown blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.markdown blockquote p {
  display: inline;
}

/* CSS */
.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.95rem;
}

.markdown th,
.markdown td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  min-width: 100px;
}

.markdown th {
  background-color: #f6f8fa;
  font-weight: 600;
}

.markdown tr:nth-child(even) {
  background-color: #f9f9f9;
}
