/* css-disable */

.markdown h2 {
  @apply text-xl font-bold mt-4 mb-2 indent-0;
}

.markdown h3 {
  @apply text-lg font-bold mt-4 mb-2 indent-0;
}

.markdown p:not(:last-child) {
  @apply mb-4 text-justify hyphens-manual;
}

.markdown pre {
  @apply mb-8 !important;
}

.markdown a {
  @apply font-bold hover:underline text-green-700;
}

.markdown ol {
  @apply mb-4 pl-4;

  list-style-type: decimal;
  list-style-position: inside;
}

.markdown ol > li::marker {
  @apply font-semibold;
}

.markdown ol > li::before {
  content: "";
  display: inline-block;
  margin-left: 0.5em;
}

.markdown ol > li:not(:last-child) {
  @apply mb-3;
}

.markdown ol > li > p {
  display: inline;
}

.markdown blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}

.markdown blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.markdown blockquote p {
  display: inline;
}
